/* ==========================================================================
Main page styles
========================================================================== */

$image-brightness: 60%;
$image-saturation: 70%;
.carousel-container {
  position: relative;

  .carousel-image {
    // managing image sizing
    object-fit: cover;
    width: 100vw;
    height: 40vh;

    @media screen and (min-height: 800px) {
      height: 80vh;
    }

    @media screen and (max-width: 660px) {
      height: 40vh;
    }

    // visual settings
    filter: brightness($image-brightness) saturate($image-saturation);
  }

  .carousel-text {
    // so it is on top of the image
    position: absolute;

    // centering (old school)
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #f2f2f2;

    // sizing the text
    h1 { font-size: 6rem; }
    @media screen and (max-width: 680px) {
      h1 { font-size: 4rem; }
      h3 { font-size: 2rem; }
    }

    @media screen and (max-width: 440px) {
      h1 { font-size: 3rem; }
      h3 { font-size: 1.5rem; }
    }

    @media only screen and (max-width: 300px), (max-height: 650px) {
      h1 { font-size: 1.75rem; }
      h3 { font-size: 1rem; }
    }
  }
}

.about-text {
  font-size: 1.5rem;
}

.carrot {
  font-size: 10rem;
}

.features {
  h2 { text-align: center; }

  .features-figure-image {
    // centers the image
    display: block;
    margin-left: auto;
    margin-right: auto;

    border: 3px solid #F2BF5E;
    border-radius: 50%;

    // no stretch
    object-fit: cover;

    // sizing
    width: 150px;
    height: 150px;
    @media screen and (max-width: 430px) {
      width: 100px;
      height: 100px;
    }

    @media screen and (max-width: 320px) {
      width: 75px;
      height: 75px;
    }

    @media screen and (min-width: 1340px) {
      width: 200px;
      height: 200px;
    }
  }
}